<body>
  <div class="login-box">
    <h3 class="text">Welcome Back!</h3>
    <img src="../../assets/images/logo.png" alt="Logo" class="logo" />
    <form action="#">
      <h6 class="text">-Sign in with BIT account-</h6>
      <br />
      <div class="login">
        <div
          class="g_id_signin"
          data-type="standard"
          data-shape="rectangular"
          data-theme="filled_blue"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="center"
        ></div>
      </div>
    </form>

    <div
      id="g_id_onload"
      data-client_id="572366633126-kkqqopn13n2kutbkvunmob40mbvmg842.apps.googleusercontent.com"
      data-context="use"
      data-ux_mode="popup"
      data-login_uri="http://localhost:3000/api/login"
      data-itp_support="true"
    ></div>
  </div>
</body>
