
  <div class="container-fluid g-0">
    <app-root></app-root>
    <app-header (sideNavToggled)="sideNavStatus = $event"></app-header>
    <main>
      <app-side-nav
      [sideNavStatus]="sideNavStatus"
      [ngClass]="{ 'app-side-nav-open': sideNavStatus }"
      ></app-side-nav>
      <div
      class="display-area p-3"
      [ngClass]="{ 'display-area-shrink': sideNavStatus }"
      >
      <div
      class="file-drag-drop"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onFileDropped($event)"
      >
      <span *ngIf="!hasDroppedFile">
        Drag and drop your PDF file here
      </span>
          <span *ngIf="hasDroppedFile">
            File dropped: {{ hasDroppedFile }}
          </span>
        </div>
      </div>
      <br />
      <div></div>
    </main>
  </div>
